<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.withstars.dao.forum.ReplyMapper">

    <!--  评论信息   -->
    <resultMap id="replyAndUser" type="com.withstars.domain.forum.Reply">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="topic_id" property="topicId" jdbcType="INTEGER"/>
        <result column="reply_user_id" property="replyUserId" jdbcType="INTEGER"/>
        <result column="father_reply_id" property="fatherReplyId" jdbcType="INTEGER"/>
        <result column="notice" property="notice" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="device" property="device" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <association property="user" javaType="com.withstars.domain.forum.User">
            <id column="id" property="id" jdbcType="INTEGER"/>
            <result column="username" property="username" jdbcType="VARCHAR"/>
            <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <resultMap id="fatherReplyUsername" type="com.withstars.domain.forum.Reply">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="father_reply_id" property="fatherReplyId" jdbcType="INTEGER"/>
        <association property="user" javaType="com.withstars.domain.forum.User">
            <id column="id" property="id" jdbcType="INTEGER"/>
            <result column="username" property="username" jdbcType="VARCHAR"/>
        </association>
    </resultMap>


    <select id="getRepliesOfTopic" resultMap="replyAndUser" parameterType="java.lang.Integer">
  SELECT reply.*,user.username,user.avatar
  from reply,user
  where reply.reply_user_id = user.id and reply.topic_id = #{topicId,jdbcType=INTEGER} and reply.status=1
  order by create_time ASC
  </select>

    <select id="getFatherName" resultMap="fatherReplyUsername" parameterType="java.lang.Integer">
        select distinct b.father_reply_id ,user.username
      from reply a inner join reply b
    on a.id=b.father_reply_id left join user on a.reply_user_id = user.id
    where a.topic_id = #{topicId,jdbcType=INTEGER}
    order by a.create_time ASC
  </select>

    <select id="getRepliesNum" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    SELECT count(id)
    FROM reply
    WHERE topic_id = #{topicId,jdbcType=INTEGER}
  </select>

    <select id="getOwnTopicsReply" resultType="com.withstars.domain.forum.Reply" parameterType="java.lang.Integer">
        SELECT r.*
from topic right join reply r on topic.id = r.topic_id
left join user a on r.reply_user_id = a.id
left join user b on topic.user_id = b.id
left join reply r1 on r.father_reply_id = r1.id
where r.notice=0 and a.id != #{userId,jdbcType=INTEGER} and b.id=#{userId,jdbcType=INTEGER}  and r.reply_user_id != topic.user_id and ( r1.reply_user_id = #{userId,jdbcType=INTEGER}  or r1.reply_user_id is null)
    </select>

    <select id="getOwnReply" resultType="com.withstars.domain.forum.Reply" parameterType="java.lang.Integer">
        select a.*
        from reply a left join reply b on b.id = a.father_reply_id
        where b.reply_user_id =#{userId,jdbcType=INTEGER}  and a.notice = 0 and a.reply_user_id != b.reply_user_id
    </select>

    <select id="getUnreadReply" resultMap="replyAndUser" parameterType="java.lang.Integer">
        select a.*,user.id,user.username,user.avatar
        from reply a left join reply b on b.id = a.father_reply_id left join user on user.id = a.reply_user_id
        where b.reply_user_id =#{userId,jdbcType=INTEGER}  and a.notice = 0 and a.reply_user_id != b.reply_user_id
    </select>

    <select id="getFatherReplyUsername" resultType="java.lang.String" parameterType="java.lang.Integer">
    select user.username
    from user right join reply on user.id=reply.reply_user_id
    where reply.id = #{fatherReplyId,jdbcType=INTEGER}
  </select>

    <select id="getFloor" resultType="java.lang.Integer">
        select count(reply.id)
        from reply
        where reply.topic_id=#{topicId} and (reply.id &lt; #{id})+1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reply
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.withstars.domain.forum.Reply">
    insert into reply (topic_id, reply_user_id,
      create_time, update_time,
      content,notice)
    values ( #{topicId,jdbcType=INTEGER}, #{replyUserId,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{content,jdbcType=LONGVARCHAR}, #{notice,jdbcType=INTEGER})
  </insert>

    <insert id="insertWithFather" parameterType="com.withstars.domain.forum.Reply">
        insert into reply (topic_id, reply_user_id,
        create_time, update_time,
        content,notice,father_reply_id)
        values ( #{topicId,jdbcType=INTEGER}, #{replyUserId,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
        #{content,jdbcType=LONGVARCHAR}, #{notice,jdbcType=INTEGER},#{fatherReplyId,jdbcType=INTEGER})
    </insert>

    <update id="updateUnreadReply" parameterType="java.lang.Long" >
        update reply
        set
        notice = 1
        where id = #{id,jdbcType=BIGINT}
    </update>


</mapper>